<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>newserv.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserLogin</servlet-name>
        <servlet-class>newserv.UserLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLogin</servlet-name>
        <servlet-class>newserv.AdminLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminHomePage</servlet-name>
        <servlet-class>newserv.AdminHomePage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Homepagehome</servlet-name>
        <servlet-class>newserv.Homepagehome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileServ</servlet-name>
        <servlet-class>newserv.ProfileServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfServ</servlet-name>
        <servlet-class>newserv.ProfServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet1212</servlet-name>
        <servlet-class>newserv.NewServlet1212</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserRegistration</servlet-name>
        <servlet-class>newserv.UserRegistration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashboardDetails</servlet-name>
        <servlet-class>newserv.DashboardDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddClinic</servlet-name>
        <servlet-class>newserv.AddClinic</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateServlet</servlet-name>
        <servlet-class>newserv.UpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClinicsSR</servlet-name>
        <servlet-class>newserv.ClinicsSR</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DocRegistration</servlet-name>
        <servlet-class>newserv.DocRegistration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Doc_Mail</servlet-name>
        <servlet-class>newserv.Doc_Mail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendMail</servlet-name>
        <servlet-class>newserv.SendMail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Doc_login</servlet-name>
        <servlet-class>newserv.Doc_login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserEdit</servlet-name>
        <servlet-class>newserv.UserEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserhomepageDbcon</servlet-name>
        <servlet-class>newserv.UserhomepageDbcon</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserLogin</servlet-name>
        <url-pattern>/UserLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLogin</servlet-name>
        <url-pattern>/AdminLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminHomePage</servlet-name>
        <url-pattern>/AdminHomePage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Homepagehome</servlet-name>
        <url-pattern>/Homepagehome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileServ</servlet-name>
        <url-pattern>/ProfileServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfServ</servlet-name>
        <url-pattern>/ProfServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet1212</servlet-name>
        <url-pattern>/NewServlet1212</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserRegistration</servlet-name>
        <url-pattern>/UserRegistration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashboardDetails</servlet-name>
        <url-pattern>/DashboardDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddClinic</servlet-name>
        <url-pattern>/AddClinic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateServlet</servlet-name>
        <url-pattern>/UpdateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClinicsSR</servlet-name>
        <url-pattern>/ClinicsSR</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DocRegistration</servlet-name>
        <url-pattern>/DocRegistration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Doc_Mail</servlet-name>
        <url-pattern>/Doc_Mail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendMail</servlet-name>
        <url-pattern>/SendMail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Doc_login</servlet-name>
        <url-pattern>/Doc_login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserEdit</servlet-name>
        <url-pattern>/UserEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserhomepageDbcon</servlet-name>
        <url-pattern>/UserhomepageDbcon</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
